


h1{
    text-align: center;
}

.input_buscar_imovel{
    max-width: 1000px;
    margin: 0 auto;  
}

.input_buscar_imovel > div{
    width: 40%;

}

.input_buscar_imovel > div > input {
    width: 70%;
}

.busca{
    width: 70%;
    margin: 0 auto;
}

.busca input{
    width: 100%;
    padding: 7px;
    border-radius: 8px;
}

.dash{
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid black;
}

.lista_imoveis{
    max-width: 1300px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 200px;
    border: 1px solid black;
}

.lista_imoveis > div{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.cad_check{
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
}

.passo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.passo > div{
    margin: 0 auto;
    margin-top: 70px;
    width: 45%;
}

.passo > div > label{
    font-weight: 700;
}

.passo > div > label,
.passo > div > input{
    width: 80%;
}

.div_btn{
    width: 25%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

#add_passo{
    
    background-color: green;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 7px;
}
