.revisa_imovel{
  display: flex;
  justify-content:space-around ;
  flex-wrap: wrap;
}

.revisa_imovel > p{
  font-size: 1.1rem;
  font-weight: 700;

}

.rev{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}


.dados_imovel{
  width: 75%;
}

.dados_imovel > div{
  margin: 15px;
}

.dados_imovel > div > p,
.dados_partes > div > p{
  font-weight: 700;
  font-size: 1.2rem;
}

.dados_partes{
  display: flex;
  width: 96%;
  gap: 250px;
}

.revisa{
  border: 1px solid transparent;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 1px 1px 8px 2px #a7b0a8;
}

.btnss {
  padding: 10px;
  background-color: #18c721 ;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.btnss:hover{
  background-color: #05630a;
}


.prox{
  width: 95%;
  text-align: end;
  margin-bottom: 10px;
}

.prox > a > button{
  width: 13%;
}

.layout_contrato{
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 80px;
}

.layout_contrato > form{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 8px 2px #a7b0a8;
  }

  .pai_input_linha{
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

.addCheck{
  font-size: 1.0rem;
  font-weight: 600;
}
  .pai_input_linha > div > input,
  .pai_input_linha > div > select{
    width: 220px;
    padding: 5px;
    font-size: 1.0rem;
    border-radius: 3px;
    outline-color: #18c721 ;
  }

  .pai_input_linha > div > label,
  .pai_input_text >label{
    font-size: 1.0rem;
    font-weight: 400;
  }

  .pai_input_text{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    
  }

  .pai_input_text > textarea{
    width: 100%;
    outline-color: #18c721 ;
    padding: 10px;
  }

  #etiquetalabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #etiquetalabel > label{
    font-size: 1.0rem;
    font-weight: 400;
  }

  .pai_input_radio{
    display: flex;
  }

  .pai_input_radio > input{
    width: 25%;
  }