.revisa_imovel{
  display: flex;
  justify-content:space-around ;
  flex-wrap: wrap;
}

.revisa_imovel > p{
  font-size: 1.1rem;
  font-weight: 700;

}

.rev{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}


.dados_imovel{
  width: 75%;
}

.dados_imovel > div{
  margin: 15px;
}

.dados_imovel > div > p,
.dados_partes > div > p{
  font-weight: 700;
  font-size: 1.2rem;
}

.dados_partes{
  display: flex;
  width: 96%;
  gap: 250px;
}

.revisa{
  border: 1px solid transparent;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 1px 1px 8px 2px #a7b0a8;
}

.btnss {
  padding: 10px;
  background-color: #18c721 ;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.btnss:hover{
  background-color: #05630a;
}


.prox{
  width: 95%;
  text-align: end;
  margin-bottom: 10px;
}

.prox > a > button{
  width: 13%;
}

.layout_contrato{
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 40px;
}

.layout_contrato > form{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 8px 2px #a7b0a8;
  }

  .pai_input_linha{
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

.addCheck{
  font-size: 1.0rem;
  font-weight: 600;
}
  .pai_input_linha > div > input,
  .pai_input_linha > div > select{
    width: 220px;
    padding: 5px;
    font-size: 1.0rem;
    border-radius: 3px;
    outline-color: #18c721 ;
  }

  .pai_input_linha > div > label,
  .pai_input_text >label{
    font-size: 1.0rem;
    font-weight: 400;
  }

  .pai_input_text{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    
  }

  .pai_input_text > textarea{
    width: 100%;
    outline-color: #18c721 ;
    padding: 10px;
  }

  #etiquetalabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #etiquetalabel > label{
    font-size: 1.0rem;
    font-weight: 400;
  }

  .pai_input_radio{
    display: flex;
  }

  .pai_input_radio > input{
    width: 25%;
  }

  .tabela_contratos{
    width: 98%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
  }

  .tabela_contratos th,
  .tabela_contratos td{
    border-bottom: 2px solid #a7b0a881;
    padding: 5px;
  }

  .pendente{
    color: #f13c05;
    font-weight: 600;
   }

  .pendente_icon{
    color: #f13c05;
    font-size: 1.3rem;
  }



  .documentos{
    color: #f5d20a;
    font-weight: 600;
  }

  .documentos_icon{
    color: #f5d20a;
    font-size: 1.3rem;
  }

 .ativo{
  color:  #18c721;
  font-weight: 600;
 }

 .ativo_icon{
  color:  #18c721;
  font-size: 1.3rem;
}

 .esconde{
  display: none;
 }

 .pessoas{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  gap: 15px;
 }

 .dados_contratoo{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  border-bottom: 2px solid #a7b0a881;
  border-radius: 5px;
  padding: 5px;
 }

 .form_compradores{
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px;
  border: 1px solid #a7b0a881;
 }

 .form_compradores h2{
  text-align: center;
 }

 .form_compradores > form > div{
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  border: 2px solid #a7b0a881;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
 }

 #form_compradores{
  display: flex;
  flex-direction: column;
  font-size: 1.0rem;
 }

 #form_compradores > div{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 30px;
  display: flex;
  }

  
  #form_compradores > div > div > select{
    width: 95%;
  }
  

 .form_compradores > form > div > div > div > select,
 .form_compradores > form > div > div > div > input,
 .form_compradores > form > div > div > div > label{
  outline-color: #18c721 ;
  font-size: 1.0rem;
  padding: 3px;
 }


 .pai_btns{
  display: flex;
  justify-content: space-around;
 }


 .inputfile{
  height: 145px;
  width: 60%;
  margin:0 auto;
  border-bottom: 2px solid #a7b0a881;
  border-left:2px solid #a7b0a881;
  border-right: 2px solid #a7b0a881;;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
 }

 .img_documento{
  width: 22%;
 }

 .img_documento > img{
  width:140px;
  height:112px;
 }

 .pai_inputfile{
  width: 45%;
 }

 .pai_inputfile > input{
  width: 100%;
  display: none;

 }

 .pai_inputfile > p{
  /* background-color: #2CA62F; */
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
 }



 .pular{
  width: 100%;
  height: 30px;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 }


 .dadosficha{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #a7b0a8;
  margin-bottom: 25px;
  font-size: 15px;
 }

 .dadosficha p{
  text-align: start;
 }

 .menu_ficha{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 700;
 }

 .tabela_passos{
  width: 80%;
  margin: 0 auto;

 }

 .tabela_passos table{
  width: 100%;
 }

 .remover{
  display: none;
 }

 .ativ{
  width: 250px;
  margin: 0 auto;
 }

 .ativ img{
  width: 100%;
 }

 .ilista{
  font-size: 1.6rem;
  font-weight: 800;
  color:#007FE2 ;
  cursor: pointer;
  width: 50px;

  position: relative;
  left: 90%;
 }


 .del{
  color: rgb(202, 6, 6);
  cursor: pointer;
 }

 .graf{
  width: 550px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .pai_graf{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }

 .dd_geral_dash{

  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

 .dd_geral_dash > div{
  width: 45%;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
 }

 .dd_geral_dash > div > h2{
  color: #0daf16;
  }

 .dd_geral_dash > div > p{
 font-size: 1.1rem;
 font-weight: 400;
 }

 .qtd_imol{
  width: 53% !important;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
 }

 .form_busca_dt{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  justify-content: space-between;

 }

 .form_busca_dt > div{
  width: 45%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 }

 .form_busca_dt > div > input{
  width: 70%;
 }

 


 

